:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --main-color: #000000;
  --secondary-color: #737373;
  --third-color: #FFFFFF;
  --hover-color: #0A8BFE;
  --hover-color-btn: #188CE8;
  --text-size: 16px;
  --main-background: #FFFFFF;
  --secondary-background: #FAFAFA;
  --third-background: #0E0E33;
  --after-background: #E8E8E8;
}